.mytable>tbody>tr>td,
.mytable>tfoot>tr>td,
.mytable>thead>tr>td {
    padding: 28px;
}
input{
    width: 100%;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 15px;
}
.searchbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    border-bottom: 2px solid #336CF9;
}
.button-wrapp {
    position: relative;
    width: 150px;
    text-align: center;
  }
  
  .button-wrapp span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    padding: 5px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 30px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }