.add {
    background-color: #f8f4fc;
    border-radius: 30px;
    padding: 20px 30px;
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add>.withdraw-form {
    width: 100%;
}

.add-label {
    font-size: 12px;
}