.deals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dealsfirst {
  width: 30%;
  max-width: 270px;
  margin-right: 20px;
}

.dealssecond {
  width: 70%;
}

.selecteduser {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(206, 226, 243);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
  height: 28%;
  max-height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selecteduser * {
  font-size: 14px;
}

.seluser {
  margin-bottom: 10px;
}

.seluserdetails {
  margin-left: 25px;
}

.seluserdetails * {
  margin-bottom: 2px;
}

.selusernamenum {
  font-weight: bold;
}

.selusermailloc {
  color: rgb(104, 104, 104);
}

.seluser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seluseractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reqstatus {
  color: rgb(104, 104, 104);
}

.chats {
  height: 64%;
}

.chatstitle {
  font-weight: bold;
  margin: 20px 0 10px;
}

.chatswrapper {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  padding: 15px 5px 15px 15px;
  height: 100%;
}

.deals ::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

.chatusers {
  height: 100%;
  overflow: auto;
}

.chatuser:nth-child(2),
.chatuserselected {
  background: rgb(235, 235, 235);
}

.chatuser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
  margin: 0 10px 10px 0;
  border-radius: 10px;
}

.chatusername {
  margin-left: 20px;
}

.chatnotif {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
  right: 15px;
}

.chatbox {
  border-radius: 20px;
  background-color: aliceblue;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
}

.cbuser,
.cbuserdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cbuser {
  justify-content: space-between;
}

.cbuserimg {
  margin-right: 20px;
}

.chatbox > hr {
  margin-bottom: 0px;
}

.chatinstruc {
  font-size: 12px;
  text-align: center;
  width: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 20px;
  margin: 0 auto 20px;
  background-color: #d3f3f1;
  color: rgb(95, 95, 95);
}

.chat-messages {
  padding: 0 5px;
}

.chat-history {
  overflow: auto;
  min-height: 55vh;
  max-height: 55vh;
}

.cbinputsend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.chatboxinput {
  width: 90%;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 12px 20px;
  font-size: 14px;
}

.chatbox ::-webkit-scrollbar {
  width: 2px;
}

@media (max-width: 500px) {
  .chatbox {
    margin: 20px 0;
    padding: 20px;
  }
  .users-chat {
    width: 100%;
    margin: 20px 0;
  }
}
