.hold {
    display: flex;
    flex-direction: row;
}

.sold, .bought {
    width: 40%;
    background-color: #f8f4fc;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px 5%;
}

.sold ::-webkit-scrollbar, .bought ::-webkit-scrollbar {
    width: 0px;
}

.sold-header, .bought-header {
    color: #fff;
    margin: -10px -20px 10px;
    padding: 5px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    font-size: 20px;
}

.sold-header {
    background-color: #df6525;
}

.bought-header {
    background-color: #17942c;
}

.sold-users {
    max-height: 60vh;
    overflow: auto;
    min-height: 100px;
}

.sold-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}

.sold-user:hover {
    background-color: #ddd;
}

.sold-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d4d4d4;
    margin-right: 10px;
}

.sold-user-details {
    display: flex;
    flex-direction: row;
}

.sold-user-amount {
    color: #336CF9;
    font-size: 20px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .hold {
        flex-direction: column;
    }
    .sold, .bought {
        width: 100%;
        margin: 20px 0;
    }
}