.grayspace {
    background-color: #f4faff;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 30px;
}

.homecomponents {
    margin-left: 80px;
}

.buyerseller {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bsele {
    position: relative;
    width: 220px;
    height: 90px;
    margin: 0 70px;
    border-radius: 15px;
    background-color: #f4faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bselected {
    background-color: white;
    box-shadow: 0px 0px 20px #3fbead5c;
    cursor: unset;
}

.bsop label {
    margin: 0 20px 0 0;
    font-weight: bold;
    width: 150px;
}

.bsimg {
    position: absolute;
    top: -40px;
    left: -40px;
}

.home .checkmark {
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #83a7ff;
}

.home .tnc:hover input~.checkmark {
    background-color: #336bf91f;
}

.home .tnc input:checked~.checkmark {
    background: unset;
    background-color: #ffffff;
    border: 2px solid #6995ff;
}

.home .tnc .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid #336CF9;
    background: #336CF9;
}

.searchbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    border-bottom: 2px solid #336CF9;
}

.search {
    width: 100%;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 13px;
}

.searchtitle {
    color: #336cf9;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.searchcompo {
    margin: 30px 0 50px;
}

.searchresults {
    z-index: 999;
    position: absolute;
    max-height: 230px;
    height: auto;
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    overflow: auto;
    border-bottom: 10px solid white;
    box-shadow: 0 5px 20px #00000030;
}

.home ::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

.home ::-webkit-scrollbar-thumb {
    background: #cecece;
}

.searchresult, .resultuser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchresult:first-child {
    margin-top: 15px;
}

.searchresult {
    padding: 10px 30px;
    cursor: pointer;
}

.searchresult:hover {
    background-color: #00000015;
}

.resultuser {
    width: 120px;
}

.resultreq {
    color: #336CF9;
    font-size: 12px;
    font-weight: bold;
}

.searchloading {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.recenttitle {
    color: #000000b6;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.recentmembers {
    display: flex;
    flex-direction: row;
    max-width: 650px;
    overflow: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    position: relative;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
}

.recent>img {
    margin-bottom: 5px
}