.lp {
    margin: 0 auto;
    max-width: 80vw;
}

.headline {
    width: 400px;
    max-width: 100%;
    margin-bottom: 50px;
}

.lp h1 {
    font-size: 40px;
    margin: 50px 0;
}

.download-apps {
    margin: 60px 0;
}

.download-apps img {
    height: 50px;
    margin-right: 20px;
}

.download-apps .ios:hover, .download-apps .android:hover {
    filter: drop-shadow(2px 2px 5px #336CF9aa);
}

@media (max-width: 500px) {
    .download-apps {
        display: flex;
    }
    .download-apps img {
        width: 38vw;
        height: auto;
        margin-right: 4vw;
    }
}