.login,
.register {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90%;
  position: fixed;
  z-index: 1;
  top: 5%;
  right: 5%;
  overflow-y: auto;
  box-shadow: 0px 0px 20px #04040433;
  border-radius: 15px;
}

.login-title {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 0;
}

.maxlogregwidth {
  width: 380px;
}

.login-2-2-2 {
  margin: 10px 0;
  font-size: 12px;
  text-align: right;
  color: #336cf9;
}

@media (max-width: 500px) {
  .login {
    width: 85vw;
  }
  .maxlogregwidth {
    width: 85vw;
  }
}
