.logregbg {
    background-image: url("../assets/logregbg.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    width: calc(100vw - 700px);
    margin: 0 50px;
    height: 100vh;
}