.mobile-only {
    display: none;
}

.navbar {
    padding: 10px;
    padding-left: 3rem;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px #04040433;
}
.navbar-nav>li>.dropdown-menu { width: 100px}

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 15px;
    padding: 3px 0.5rem
}

.nav-active-link {
    color: #336CF9 !important;
}

@media(max-width: 500px) {
    .navbar {
        padding: 0.5rem 0.5rem 0 1rem;
    }
    .mobile-only {
        display: block;
    }
    .nav-active-link {
        border-bottom: unset
    }
    .navbar-light .navbar-toggler {
        border: none;
    }
    .navbar-collapse {
        padding-top: 15px;
    }
}