.reg-step-1 {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 20px;
}

.logreglogo {
  height: 50px;
  padding: 5px 0;
}

.tnc * {
  transition: 0s;
}

.tnc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.tnc label {
  margin: 0 0 0 10px;
}

.tnc input:checked {
  background-color: green;
}

.warning {
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
}

/* CHECKBOX STYLING STARTS HERE */

.tnc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tnc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 2px solid #1be6d6;
}

.tnc:hover input ~ .checkmark {
  background-color: #336bf93b;
}

.tnc input:checked ~ .checkmark {
  background: linear-gradient(45deg, #336cf9 0%, #1be6d6 70%, #1be6d6 100%);
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tnc input:checked ~ .checkmark:after {
  display: block;
}

.tnc .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CHECKBOX STYLING ENDS HERE */

@media (max-width: 500px) {
  .register {
    width: 85vw;
  }
  .tnc {
    font-size: 12px;
  }
}
.button-wrapper {
  position: relative;
  width: 150px;
  text-align: center;
  margin: 5% auto;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform:uppercase;
  font-size:12px;
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.dot {
  height: 100px;
  width: 100px;
  margin: auto;
  background-color: #1be6d6;
  border-radius: 50%;
  display: inline-block;
}