.sidenav {
  height: calc(100% - 100px);
  width: 250px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 85px;
  /* Stay at the top */
  left: 15px;
  background-color: #fff;
  /* Black */
  overflow-y: hidden;
  /* Disable horizontal scroll */
  box-shadow: 0px 0px 20px #0404044d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  padding-right: 5px;
}

.sidenav * {
  transition: 0.3s;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  margin: 25px 0;
}

.actions a {
  font-size: 15px;
  text-decoration: none;
}

.action {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  margin: 8px 10%;
  width: 80%;
  border-radius: 32.5px;
  color: #0000008c;
}

.action:hover {
  background-color: #e9eeff;
}

.action-active,
.action-active:hover {
  color: #fff;
  background-color: #064676;
}

.action-icon {
  margin: 0 20px 0 10px;
}

@media (max-width: 500px) {
  .sidenav {
    position: unset;
    width: 100%;
    box-shadow: unset;
    padding-top: 0px;
  }
  .action {
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    width: calc(50% - 40px);
    height: 115px;
    padding: 20px 0 0;
    border-radius: 30px;
    margin: 0 20px 10px;
  }
  .actions {
    flex-direction: unset;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .actions a {
    font-size: 12px;
    line-height: 1.2;
  }
  .action-icon {
    margin: 0 0 5px;
  }
}
