.greet > h1 {
  margin: 10px 0 5px;
}

.greet > p {
  color: gray;
}

.wal-graph {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
  border: 1px solid #cce9ff;
}

.walbaltitle {
  font-size: 16px;
  font-weight: bold;
  color: #5870ad;
}

.walbal {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0 5px;
}

.date {
  font-size: 12px;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.waladd-withdraw {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.waladd,
.walwithdraw {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 10px 0;
  padding: 20px 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
}

.waladd {
  margin-right: 2%;
  background-color: #e7f6fc;
  border: 1px solid #afc7d0;
}

.walwithdraw {
  margin-left: 2%;
  background-color: #f9eaf4;
  border: 1px solid #d3b6d8;
}

.walfield input {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  max-width: calc(100% - 40px);
  padding: 2px 0;
  font-size: 14px;
}

.curr-symbol {
  width: 30px;
}

.walfield {
  border-bottom: 1px solid #00000035;
  width: 55%;
}

.walwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.waladdtitle,
.walwithdrawtitle {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}

.waladdtitle {
  color: #0a425d;
}

.walwithdrawtitle {
  color: #5d0a3f;
}

.waladdbtn,
.walwithdrawbtn {
  outline: none;
  border: none;
  padding: 6px 20px;
  border-radius: 15px;
  font-size: 14px;
  color: white;
}

.waladdbtn {
  background: linear-gradient(-50deg, #0d5375, #0091ff);
}

.walwithdrawbtn {
  background: linear-gradient(-50deg, #f64bbd, #336cf9);
}

.walfirst {
  width: 58%;
  margin: 0 1%;
}

.walsecond {
  width: 30%;
  margin: 0 4%;
}

.rewardstitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.reward {
  width: 140px;
  min-width: 140px;
  height: 150px;
  min-height: 150px;
  border-radius: 20px;
  border: 1px solid rgb(104, 104, 104);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.rewardcomp {
  font-size: 12px;
  font-weight: bold;
}

.rewardlogo {
  margin: 10px 0;
}

.rewarddesc {
  font-size: 10px;
}

.unredeemed,
.redeemed {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.unredeemed {
  color: #336cf9;
  cursor: pointer;
}

.redeemed {
  color: rgb(161, 161, 161);
  cursor: not-allowed;
}

.rewards {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
  padding-bottom: 10px;
}

/*
.nextrew {
    position: absolute;
    width: 20px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
    color: rgb(95, 95, 95);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: -10px;
    z-index: 1;
}
*/

.walfirst ::-webkit-scrollbar {
  height: 0px;
}

.cards-overlay{
  background-image: linear-gradient(to right, white,black);
}

.cards {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.saved {
  position: absolute;
  top: 45%;
  left: -25px;
  font-size: 12px;
  transform: rotate(-90deg);
  z-index: 1;
}

.walsecond ::-webkit-scrollbar {
  height: 2px;
}

.card {
  width: 335px;
  min-width: 335px;
  height: 200px;
  min-height: 200px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: linear-gradient(
    -18deg,
    rgba(131, 255, 229, 1) 0%,
    rgb(30, 150, 255) 50%,
    rgb(10, 141, 255) 100%
  );
  border: 1px solid #336cf9;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.199);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
}

.card * {
  color: white;
}

.cardlogo {
  margin: 10px 0;
}

.cardnumber {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.carddetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.history,
.history-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.history {
  margin-top: 15px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
  border: 1px solid #d4d4d4;
  height: 400px;
  padding-right: 3px;
}

.history-header {
  width: calc(100% + 3px);
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(105, 105, 105);
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.transactions {
  overflow: auto;
  height: 340px;
}

.history ::-webkit-scrollbar {
  width: 4px;
}

.history ::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}

.transaction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txmini {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(122, 122, 122);
  font-size: 14px;
  width: 75%;
  height: 70px;
  padding-left: 30px;
  border-bottom: 1.5px solid gray;
}

.transaction:last-child .txmini {
  border-bottom: unset;
}

.txamount {
  font-weight: bold;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

.txicon {
  position: absolute;
  left: 20px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.315);
}
