.withdraw {
    background-color: #f8f4fc;
    border-radius: 30px;
    padding: 20px 30px;
    width: 40%;
    margin: 20px;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.bal {
    color: #336CF9;
    font-weight: bold;
}

.withdraw-input {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.withdraw-input>input {
    border: none;
    outline: none;
    background-color: #f8f4fc;
    border-bottom: 1px solid #000;
    padding: 8px;
}

.curr-symbol {
    width: 40px;
    text-align: center;
}

.withdraw-amount {
    width: 120px;
}

.withdraw-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

@media (max-width: 500px) {
    .withdraw, .add {
        width: 100%;
        margin: 20px 0;
        padding: 20px 10px;
    }
    .withdraw-amount {
        width: 100px;
    }
}