@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Open Sans";
  color: #000000b6;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
}

h2 {
  font-size: 25px;
}

a {
  color: #336cf9;
  text-decoration: none;
}

/*
a:hover {
  color: #336CF9;
  font-weight: bold;
  text-decoration: none;
}
*/

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #336cf9;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a53ce;
}

/* Remove Arrows in Number Field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Phone Input npm package */

.PhoneInputInput {
  border: none;
  outline: none;
}

.PhoneInputInternationalIconPhone {
  fill: #336cf9;
}

.PhoneInputInternationalIconGlobe {
  stroke: #336cf9;
}

.PhoneInputCountryIcon--border {
  box-shadow: none;
}

/* Skropay only */

.hide {
  display: none;
}

.skro-input {
  border: 1px solid #cdcdcd;
  outline: none;
  height: 40px;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 10px 0;
  position: relative;
}

.skro-danger-input {
  color: red;
  border: 1px solid red !important;
  background-color: #ffe6e6 !important;
}

.skro-danger-input input {
  color: red;
  background-color: #ffe6e6 !important;
}

.skro-danger-input:-webkit-autofill,
.skro-danger-input:-webkit-autofill:hover,
.skro-danger-input:-webkit-autofill:focus,
.skro-danger-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffe6e6 inset !important;
}

.skro-danger-input input:-webkit-autofill,
.skro-danger-input input:-webkit-autofill:hover,
.skro-danger-input input:-webkit-autofill:focus,
.skro-danger-input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffe6e6 inset !important;
}

.skro-danger-input:-webkit-autofill {
  -webkit-text-fill-color: red !important;
}

.skro-danger-input input:-webkit-autofill {
  -webkit-text-fill-color: red !important;
}

.skro-p {
  font-size: 12px;
  margin: 0;
}

.skro-btn-basic,
.skro-btn,
.skro-btn-1,
.skro-btn-2 {
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.skro-btn-basic {
  width: 80px;
  height: 28px;
  border-radius: 14px;
  background-color: #336cf9;
  font-size: 14px;
}

.skro-btn-basic:hover {
  background-color: #204ec4;
}
.skro-btn,
.skro-btn-1,
.skro-btn-2 {
  border-radius: 18px;
  background: linear-gradient(110deg, #336cf9 0%, #336cf9 30%, #1be6d6 100%);
}

.skro-btn {
  font-size: 14px;
  padding: 6px 30px;
  border-radius: 20px;
  height: 35px;
}

.skro-btn-1 {
  width: 150px;
  height: 35px;
  margin: 5px 0;
}

.skro-btn-1:hover {
  color: #336cf9;
  background: #ffffff;
  border: 2px solid #336cf9;
}

.skro-btn-2 {
  width: 120px;
  height: 40px;
}

.skro-btn-3 {
  border: none;
  outline: none;
  background: linear-gradient(110deg, #336cf9 0%, #336cf9 30%, #1be6d6 100%);
  color: #fff;
  width: 100%;
  display: block;
  height: 40px;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.shift {
  margin-left: 270px !important;
  /* Same as the width of the sidebar */
  padding: 20px 20px;
  overflow: auto;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
}

.chat *,
.add *,
.withdraw *,
.hold *,
.sidebar *,
.home *,
.login *,
.register * {
  transition: 0.5s;
}

.space-1 {
  padding-bottom: 25px;
}

.fw {
  width: 100%;
}

.hwl {
  width: 48%;
  margin-right: 2%;
}

.hwr {
  width: 48%;
  margin-left: 2%;
}

.alignc {
  text-align: center;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.click {
  cursor: pointer;
}

@media (max-width: 500px) {
  .shift {
    margin-left: 0;
  }
  .skro-btn-1 {
    width: 120px;
    font-size: 14px;
  }
}
